.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topShadow{
  box-shadow:  0 -5px 5px 1px #fff;
}

.bannerImage{
    background: no-repeat;
    box-shadow: 10px 10px  #fff;
    -moz-box-shadow: 10px 10px  #fff;
    -webkit-box-shadow: 10px 10px  #fff;
    -khtml-box-shadow: 10px 10px  #fff;
}

.box{
  box-shadow: rgba(31, 162, 255, 1) 0px 10px 10px -10px;
}

.homepageImage{
  /* background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px; */
  background: url("./assets/Images/bghome.svg");
}

.lable-style {
  @apply text-[14px] text-richblack-5;
}
.form-style {
  @apply rounded-lg bg-richblack-700 py-2 px-3 md:p-3 text-[14px] leading-[23px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/30 placeholder:text-richblack-400 focus:outline-none;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}